@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
	font-family: sans-serif;
}


html,body{
	height: 100%;
	overflow: hidden;
}

#center{
	width: 1280px;
	margin: 0 auto;
	background-color: grey;
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*.artigo{
	margin-top: 30px;
	width: 640px;
	margin-right: -4px;
	border-left: 10px solid rgba(255,255,255,1);
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}*/

/*.artigo{
	font-family: sans-serif;
	margin-top: 30px;
	width: 620px;
	float: left;
	vertical-align: top;
}*/

div#img > img{ /*IMG LOGO*/
	height: 100px;
	width: 225px;
	
}
div#img{ /*DIV LOGO*/
	float: left;
	position: absolute;
	margin:75px 0px 0px 160px;
	z-index: 1;
}

div#right > img{ /*IMG PIANO*/
 	height: 1000px;
	width: 1400px;
}

div#right{ /*DIV PIANO*/
	position: absolute;
	float: right;
	margin-top: -8px;
	margin-bottom: -30px;
	z-index: -1;
}
div#left{ /*DIV LOGIN*/
	margin-left: -60px;
}

input[name="blanck"]{ /*Email and PASSWORD*/
	width: 430px;
	height: 30px;
}


input[type="submit"]{ /*BUTONS*/
	width: 430px;
	height: 50px;
	font-family: 'Source Sans Pro';
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 19px;
}

div#icon_email img, div#icon_password img{ /*Icons Size*/
	height: 20px;
	width: 20px;
}

div#icon_email, div#icon_password{ /*Email Icon position*/
	position: absolute;
	margin: 402px 0px 0px 578px;

}
div#icon_password{
	margin-top: 468px; 
	z-index: 2;
}

input[type="text"]{ /*EMAIL*/
	margin: 402px 0px 10px 170px;
	float: left;
	display: block;
	border: 0px none white;
	border-bottom: 1px solid #12c8ff;
	font-family: sans-serif;
	font-size: 17px;
	color: #12c8ff;
}
input[type="password"]{ /*PASSWORD*/
	position: absolute;
	margin: 470px 0px 20px 170px;
	display: block;
	float: left;
	border: 0px none white;
	border-bottom: 1px solid #12c8ff;
	font-family: sans-serif;
	color: #12c8ff;
}

input[name="submit"]{ /*SUBMIT BUTON*/
	position: absolute;
	margin: 560px 0px 20px 170px;
	display: block;
	float: left;
	border: 0px none white;
	border-radius: 4px;
	background-color: #12c8ff;
	color: white;
}
input[name="facebook"]{ /*FACEBOOK BUTON*/
	position: absolute;
	margin: 620px 0px 20px 170px;
	display: block;
	float: left;
	border: 2px solid #12c8ff;
	border-radius: 4px;
	font-size: 17px;
	background-color: white;
	color: #49cdeb ;
}

legend, form > h1, h3{ /* SING IN and EMAIL/PASSWORD legends*/
	float: left;
	position: absolute;
	margin: 380px 0px 10px 170px;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	color: #808080;
}
form > h1{ /*SING IN*/
	color: #545454;
	margin-top: 250px;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 53px;
}

legend#password{ /*PASSWORD LEGEND*/
	margin-top:450px;
	margin-bottom: 10px;
}

legend#forgot{ /*PASSWORD LEGEND*/
	margin-top:510px;
	margin-bottom: 10px;
	margin-left: 485px;
	font-size: 15px;
}

legend#new_account{ /*PASSWORD LEGEND*/
	margin-top:690px;
	margin-bottom: 10px;
	margin-left: 170px;
	font-size: 18px;
	font-family: 'Source Sans Pro';
	font-weight: 300;
}

h3{ /*FOOTER*/
	color: #545454;
	margin-top: 900px;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 18px;
}
